<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Judge</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="/public/js/jquery-3.6.0.min.js"></script>
    <script src="../public/js/vue.js"></script>
</head>
<body>
<div id="app">
    {{ message }}
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    })
</script>
</body>
</html>